@model IEnumerable<OnlineExamSystem.Models.Question>

@{
    ViewData["Title"] = "Index";
    var i = 1;
}

<div id="page-wrapper">
    <div class="row">
        <div class="container-fluid">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        S.I
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Option1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Option2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Option3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Option4)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CorrectAnswer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Explanation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuestionOrder)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Exam)
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Option1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Option2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Option3)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Option4)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CorrectAnswer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Explanation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QuestionOrder)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Exam.Subject)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.QuestionId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.QuestionId">Delete</a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
